@import 'abstracts';

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.cover-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background: color('background-secondary');
  background: white;
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;

  .check-circle {
    background: color('success');
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;

    mat-icon {
      margin: auto;
      color: color('foreground-secondary');
      @include mat-icon(50px, false);
    }
  }

  p {
    @include break-font(20px, 16px, 20px);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
