@import 'abstracts';

::ng-deep #waves-container {
  width: 100%;
  // 1% extra because in firefox there's sometimes a gap line, as intro section
  // is dark background, and waves are not on perfect 0 bottom position
  height: 101%;
  position: relative;

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow:visible;

    .wave {
      animation: wave 3s linear;
      animation-iteration-count: infinite;
      fill: color('foreground-primary');
      fill: white;
    }

    #wave2 {
      animation-duration:5s;
      animation-direction: reverse;
      opacity: .6
    }

    #wave3 {
      animation-duration: 7s;
      opacity:.3;
    }

    @keyframes wave {
      to {
        transform: translateX(-100%);
      }
    }
  }
}
