@import 'abstracts';

:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  // Index 1 so that separate card indexing would be contained
  z-index: 1;

  * {
    user-select: none;
  }
}

.position-wrapper {
  position: absolute;
  width: 90%;
  transition: all 0.2s linear;
  max-width: 420px;

  &#z1 {
    background: #fafafa;
  }

  &#z2 {
    background: #ededed;
  }

  .ratio-wrapper {
    width: 100%;
    padding-top: 65%; /* 4:3 Aspect Ratio */
    position: relative;
    min-height: 200px;


    .carousel-card {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 15px 30px;
      cursor: pointer;

      * {
        visibility: hidden;
      }

      .card-description {
        height: 60%;

        p {
          margin: 0;
        }
      }
    }
  }

  &.focused {
    .ratio-wrapper .carousel-card {
      cursor: default;
      color: color('foreground-secondary');
      background: color('background-secondary');

      * {
        visibility: visible;
      }
    }
  }
}
