<div id=sidenav-wrap>
  <div id="nav-title">
    <span>{{title}}</span>
  </div>

  <button mat-icon-button color="primary" aria-label="menu" (click)="toggleMenu()">
    <mat-icon>{{menuOpen ? 'close' : 'menu'}}</mat-icon>
  </button>

  <div>
    <div *ngIf="!mobile" id="nav-direction">
      <!-- <span>Prev</span>
      <span>Next</span> -->
    </div>
  </div>
</div>

<div id="sidenav-menu" [@menuSlide]="(mobile ? 'min' : 'max') + '-' + (menuOpen ? 'open' : 'closed')">
  Comming soon..
</div>
