@import 'mixins';

:host {
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background: #581879;
    color: white;

    > * {
      overflow: hidden;
    }
  }
}

#title-container {
  flex: 0 10%;
  display: flex;

  #im {
    position: relative;
    @include break-font(45px);
    margin: auto;
    text-transform: uppercase;

    &::after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 0.1em;
      top: 53%;
      left: 0;
      background: #581879;
    }
  }
}

#description-container {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 50%;

    @include break('lt', 's') {
      flex: 0 100%;
    }

    > div {
      margin: auto;
      height: fit-content;
      width: 80%;
      display: flex;
      flex-direction: column;
      @include break-font(20px);

      > *:not(:last-child) {
        margin-bottom: 10px;
      }

      .title {
        @include break-font(30px);
      }

      .divider {
        min-height: 1px;
        height: 0.1em;
        width: 5em;
        background: white;
      }

      .description {
        font-size: inherit;
        font-weight: lighter;
        opacity: 0.7;
      }
    }
  }
}

#bubbles-container {
  overflow: visible;
  @include break-prop('flex', (
    'xs': 0 30%,
    's': 0 35%,
    'm': 0 40%,
    'l': 0 50%,
    'xl': 0 55%
  ))
}

#wave-container {
  overflow: visible;
  position: relative;
  flex: 0 10%;
}

.icon-panel {
  top: 15%;
}


::ng-deep .bubble-container {
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  transition: opacity 0.3s linear, filter 0.3s linear;

  .bubble {
    background: white;
    border-radius: 50%;
    transform-style: preserve-3d;
    box-shadow:
      0 15px 35px rgba(0, 0, 0, 0.1),
      0 3px 10px rgba(0, 0, 0, 0.1);


    svg {
      position: absolute;
      transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
      opacity: 0;
      top: 20px;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      overflow: visible;
      filter: drop-shadow(0px 4px 12px rgba(0,0,0,0.1));
      z-index: 1;

      &.back {
        transform: rotateY(180deg);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: 3;

      &.back {
        transform: rotateY(180deg);
      }


    }
  }

  &:hover {
    opacity: 1;

    svg {
      opacity: 1;
      top: 0;
    }
  }
}
