<div>
    <div id="title-container">
        <span id="im">Lina</span>
    </div>
    <div id="description-container">
      <div>
        <div class="card">
            <span class="title">Full-Stack TypeScript Developer</span>
            <span class="divider"></span>
            <span class="description">Competent at engineering logic & designing architecture for <span>backend services</span>, as well as database. Skilled in development of <span>Web</span>, <span>Mobile</span> & <span>Desktop</span> apps.</span>
        </div>
      </div>
      <div>
        <div class="card">
            <span class="title">DevOps Engineer</span>
            <span class="divider"></span>
            <span class="description">Experienced in deployment & test automation using latest CI/CD tech. Hosting <span>apps</span> & <span>servers</span> that scale on demand. As well as monitoring their performance and state.</span>
        </div>
      </div>
    </div>
    <div id="bubbles-container">
      <app-img-bubbles></app-img-bubbles>
    </div>
    <div id="wave-container">
      <app-waves></app-waves>
    </div>
</div>
