<div>
    <div id="title-container">
        <span id="im">Lina</span>
    </div>
    <div id="description-container">
      <div>
        <div class="card">
            <span class="title">Full-Stack TypeScript Developer</span>
            <span class="divider"></span>
            <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in turpis purus. Mauris quis congue lacus. Phasellus eu erat mauris.</span>
        </div>
      </div>
      <div>
        <div class="card">
            <span class="title">DevOps Engineer</span>
            <span class="divider"></span>
            <span class="description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas quis consequat diam. In hac habitasse platea dictumst.</span>
        </div>
      </div>
    </div>
    <div id="bubbles-container">
      <app-img-bubbles></app-img-bubbles>
    </div>
    <div id="wave-container">
      <app-waves></app-waves>
    </div>
</div>
