@import 'mixins';

:host {
  padding: 20px;
}

.icon-panel {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

::ng-deep .bubble {
  width: 152px;
  height: 152px;
  margin-right: 20px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.1);

  @include break('lt', 'md') {
    width: 100px;
    height: 100px;

    box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.1),
    0 2px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    margin: 10%;
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}
