<div>
    <div id="logo-container">
      <img src="assets/logo/logo-dark.jpg" alt="Lina Ragauskaite">
    </div>
    <div id="description-container">
      <div>
        <div class="card">
            <span class="title">Full-Stack TypeScript Developer</span>
            <span class="divider"></span>
            <span class="description">Skilled in software systems design and engineering, including back-end Microservices, APIs and front-end applications for the Web, Mobile and Desktop.</span>
        </div>
      </div>
      <div>
        <div class="card">
            <span class="title">DevOps Engineer</span>
            <span class="divider"></span>
            <span class="description">Experienced in continuous testing and deployment using latest CI/CD technologies. As well as hosting Databases, Apps and Servers on scalable Cloud services.</span>
        </div>
      </div>
    </div>
    <div id="bubbles-container">
      <app-img-bubbles></app-img-bubbles>
    </div>
    <div id="wave-container">
      <app-waves></app-waves>
    </div>
</div>
