<div class="cover-preview">
  <img *ngIf="project" [src]="'assets/projects/' + project.cover">
</div>

<div class="content">
  <h2>{{project.title}}</h2>

  <div class="links">
    <ng-container *ngFor="let link of links; let i = index">
      <a [href]="link.href" target="_blank">
        <img *ngIf="link.img" [src]="link.img">
        <p>{{link.name}}</p>
      </a>

      <span *ngIf="i !== links.length - 1" class="dot"></span>
    </ng-container>
  </div>

  <p>
    <small *ngIf="project.startDate">{{project.startDate | moment:'YYYY.MM=>YYYY MMM'}}&nbsp;</small>
    <small *ngIf="project.endDate">- {{project.endDate | moment:'YYYY.MM=>YYYY MMM'}}</small>
  </p>
  <small *ngIf="project.subtitle">{{project.subtitle}}</small>

  <markdown #description [src]="'assets/projects/' + project.markdown" (load)="onLoad()"
  lineNumbers></markdown>
</div>
