@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700');
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

:root {
  --od-v-dark: #1b1d1f;
  --od-dark: #2e3235;
  --od-light: white;
  --od-dec: #c678dd;
  --od-str: #98c379;
  --od-obj: #e5c07b;
  --od-fn: #56b6c2;
  --od-var: #e06c75;
  --od-cmt: #646464;

  --background: var(--od-light);
  --color: var(--od-dark);
  // 500s
  --primary: #522546;
  --secondary: #26a69a;
  --warn: #ff9800;
  --success: #369c50;
  --error: #f44336;
  // 900s
  --primary900: #280d20;
  --secondary900: #0d7b6c;

  --max-width: 80%;
  .dark-theme {
    --background: var(--od-dark);
    --color: var(--od-light);
  }
}

body {
  margin: 0;
  overflow: auto;
  background: var(--background);
  color: var(--color);
  height: 100vh;
  width: 100vw;
  min-height: 700px;
  font-family: 'Roboto';
  @include break('lt', 'm') {
    min-height: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-transform: uppercase;

  &.mat-raised-button {
    padding: 0 25px;
  }
}
