@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700');
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

:root {
  --background: #fff;
  --color: #121212;
  // 500s
  --primary: #522546;
  --secondary: #26a69a;
  --warn: #ff9800;
  --error: #f44336;
  // 900s
  --primary900: #280d20;
  --secondary900: #0d7b6c;

  .dark-theme {
    --background: #251f29;
    --color: #fff;
  }
}

body {
  margin: 0;
  overflow: auto;
  background: var(--background);
  color: var(--color);
  height: 100vh;
  width: 100vw;
  min-height: 700px;
  font-family: 'Roboto';
  @include break('lt', 'm') {
    min-height: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-transform: uppercase;
}
