@import 'abstracts';

:host {
 @include flex(column, flex-start, center);
 @include item-space(column, 100px);
}

.project-block {
  width: 100%;
  @include flex(row, space-between);

  &.reverse {
    flex-direction: row-reverse;
  }

  > * {
    flex: 0 0 46%;
    min-height: 100px;
  }

  .summary-wrapper {
    position: relative;
    padding-top: 80%;

    @include flex(column, flex-start, stretch);
    @include item-space(column, 15px);

    .summary-content {
      @include absolute-fill;
    }
  }

  @include break ('lt', 'm') {
    @include flex(column, flex-start);
    &.reverse {
      flex-direction: column;
    }

    .summary-wrapper {
      padding-top: unset;

      .summary-content {
        width: 100%;
        position: relative;
      }
    }

    @include item-space(column, 15px);

    > * {
      flex: unset;
      width: 100%;
    }
  }
}

.image {
  padding-top: 100%;
  width: 100%;
  position: relative;
}

app-image-shatter {
  @include absolute-fill;
}
