<div class="project-block" *ngFor="let project of projects; let i = index" [class.reverse]="i % 2 !== 0" [style.margin-top]="i === 0 ? 0 : ''">
  <div class="ratio-wrapper cover">
    <div class="image">
      <app-image-shatter #el *ngIf="project.cover && !basicImage"
      (clicked)="projectsService.viewProject(project)"
      (in-view)="renderWhen === 'in-view' && el.render()"
      (rendered)="renderWhen === 'rendered' && el.render()"
      [src]="'assets/projects/' + project.cover"></app-image-shatter>
      <img *ngIf="basicImage" [src]="'assets/projects/' + project.cover">
    </div>
  </div>

  <div class="ratio-wrapper">
    <div class="summary-wrapper">
      <div class="summary-content">
        <h2 class="read-more" (click)="projectsService.viewProject(project)">{{project.title}}</h2>
        <p>
          <small *ngIf="project.startDate">{{project.startDate | moment:'YYYY.MM=>YYYY MMM'}}&nbsp;</small>
          <small *ngIf="project.endDate">- {{project.endDate | moment:'YYYY.MM=>YYYY MMM'}}</small>
        </p>
        <small *ngIf="project.subtitle">{{project.subtitle}}</small>
        <p class="read-more" (click)="projectsService.viewProject(project)">{{project.summary}}</p>
      </div>
    </div>
  </div>
</div>
