@import 'abstracts';

:host {
  .form-container {
    @include flex(column, flex-start);
    position: relative;
    padding: 5px;
    @include item-space(column, 5vw);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;

    .mat-form-field {
      flex: 0 1 48%;

      @include break('lt', 'm') {
        flex: 0 0 100%;
      }

      &.textarea {
        flex: 0 0 100%;
      }

      textarea {
        height: 150px;
      }
    }
  }
}

app-submit-button {
  margin: 10px;
}
