<h1>Contact Me</h1>
<form [formGroup]="form" action="sendForm()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="replyTo">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="textarea">
    <mat-label>Message</mat-label>
    <textarea matInput
    #message maxlength="500"
    matTextareaAutosize="false"
    formControlName="message"
    ></textarea>
    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
  </mat-form-field>
</form>

<app-progress-button [loading]="sending" (submit)="sendForm()"
[form]="form" [valid]="form.valid" text="send">
</app-progress-button>
