@import 'abstracts';

:host {
  overflow: auto;
  @include flex(row, space-evenly, center);

  #graph-cards, #graph-container {
    max-height: 80%;
    height: 80%;
    width: 40%;
    position: relative;
  }

  #experience-graph {
    height: 100%;
    width: 100%;
    display: flex;
  }
}

::ng-deep .commit-point {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
