@import 'abstracts';

:host {
  @include flex(column, center, center);
}

app-horizontal-tab-pair {
  flex: 0 1 100%;
  width: 100%;
  overflow: auto;
}

#experience-graph {
  height: 100%;
  width: 100%;
  display: flex;
}

.primary-content {
  max-height: 90%;
  height: 90%;
  width: 100%;
}

.secondary-content {
  max-height: 80%;
  height: 80%;
  width: 100%;
}

:host ::ng-deep {
  .graph-title-wrap {
    @include fxFlex(row, null, flex-start);
    height: 100%;

    .graph-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


  .graph-node {
    @include fxFlex(row, center, center);
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    transform: scale(0.85);
    cursor: pointer;
    transition: all 0.2s ease-in;

    .graph-node-light {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(white, rgba(255, 255, 255, 0));
      opacity: 0.4;
      border-radius: 50%;
    }

    .graph-node-filler {
      border-radius: 50%;
      opacity: 0.3;
      background: white;
    }
  }

  foreignObject.focused {
    .graph-node {
      transform: scale(1);
      .graph-node-filler {
        opacity: 0.8;
      }
    }
  }
}
