<h1>Experience</h1>

<app-horizontal-tab-pair #tabGroup (tabChange)="$event === 0 && onTabChange()" primarySize="40%" secondarySize="40%">
  <div class="primary-content">
    <app-arrow-scroll contentContainerId="experience-graph-container"
    contentId="experience-graph">
    </app-arrow-scroll>
  </div>

  <div class="secondary-content">
    <app-card-carousel  [items]="commits"
    [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onSelectedChange($event)">
    </app-card-carousel>
  </div>
</app-horizontal-tab-pair>

