@import 'abstracts';

:host {
  position: relative;
  background: color('od-dark');
}

#navbar-wrap {
  width: 100%;
  height: 100%;
  padding: 10px 2%;
  box-sizing: border-box;
  @include flex($direction: row, $justify: space-between);
  font-size: medium;

  > div {
    display: flex;
  }

  > button {
    flex: 0 0 40px;
  }

  #nav-title, #nav-direction {
    text-transform: uppercase;
  }

  #nav-direction {
    > * {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
    }

    > *:hover {
      color: color('secondary');
    }

    @include flex($direction: row, $justify: flex-end);
    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

#logo-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  height: 100%;

  img {
    position: relative;
    @include break-font(45px);
    object-fit: contain;
    margin: auto;
    @include break-prop('height', (
      'xs': 80%,
      's': 80%,
      'm': 90%,
      'l': 100%,
      'xl': 100%
    ));
  }
}

.menu {
  color: color('foreground-primary');
  height: 100%;
  @include fxFlex(row, 20px, center, flex-start);

  a, mat-icon {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  mat-icon {
    @include mat-icon(30px, false);
  }
}

.sections {
  @include break-font(17px);
  @include fxFlex(row, 20px, center, center);
}

#menu-backdrop {
  &.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.9;
    overflow: hidden;
    padding: 10px 2%;
    @include flex(column, flex-start);

    mat-icon {
      align-self: flex-end;
    }

    .sections {
      width: 90%;
      @include break-font(30px);
      @include fxFlex(column, 20px, flex-start, flex-start);
    }
  }
}
