<div id=navbar-wrap>
  <div id="nav-title"></div>

  <div id="logo-container" (click)="navBar.goTo(section.intro)">
    <img src="assets/logo/logo-dark.svg" alt="Lina Ragauskaite">
  </div>

  <div class="menu">
    <div class="sections" *ngIf="!viewService.mobile">
      <a [class.active]="navBar.activeSection === 'experience'" (click)="navBar.goTo(section.experience)">Experience</a>
      <a [class.active]="navBar.activeSection === 'projects'" (click)="navBar.goTo(section.projects)">Projects</a>
      <a [class.active]="navBar.activeSection === 'contact'" (click)="navBar.goTo(section.contact)">Contact</a>
    </div>

    <div id="menu-backdrop" [class.expanded]="menuOpen" [no-scroll]="menuOpen">
      <div id="backdrop"></div>
      <mat-icon svgIcon="menu" *ngIf="viewService.mobile && !menuOpen" (click)="menuOpen = true"></mat-icon>
      <mat-icon *ngIf="menuOpen" (click)="menuOpen = false">close</mat-icon>

      <div class="sections" *ngIf="menuOpen">
        <a [class.active]="navBar.activeSection === 'intro'" (click)="menuOpen = false; navBar.goTo(section.intro)">Intro</a>
        <a [class.active]="navBar.activeSection === 'experience'" (click)="menuOpen = false; navBar.goTo(section.experience)">Experience</a>
        <a [class.active]="navBar.activeSection === 'projects'" (click)="menuOpen = false; navBar.goTo(section.projects)">Projects</a>
        <a [class.active]="navBar.activeSection === 'contact'" (click)="menuOpen = false; navBar.goTo(section.contact)">Contact</a>
      </div>
    </div>
  </div>
</div>


