@import 'abstracts';

:host {
  @include flex(row, center, center);
  min-height: 30px;
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  @include break('gt', 'xs') {
    @include item-space(row, 10px);
  }

  small {
    color: color('foreground-secondary');
    font-size: 12px;

    @include item-space(row, 10px);
  }

  @include break('lt', 's') {
    flex-direction: column-reverse;
    @include item-space(column, 10px);

    > span {
      display: none;
    }
  }
}
