@import 'abstracts';

:host {
  display: flex;
  height: 30px;
  width: 100%;

  small {
    margin: auto;
    @include color('color', 'foreground-secondary');
    font-size: 12px;
  }
}
