@import 'typography';
@import 'mixins';

:host {
  @include flex;
  perspective: 70px;
  $margin: 150px;

  #coverContainer, #image, #shatterContainer, #textSpan {
    position: absolute;
  }

  #coverContainer {
    @include absolute-fill(0);
    margin: auto;
    padding: $margin;

    #imageRef {
      @include absolute-fill(0);
    }

    #shatterContainer {
      @include absolute-fill($margin);

      #textSpan {
        @include absolute-center;
        @include font-decoration;
        left: 52%;
        cursor: pointer;
        pointer-events: all;
        width: fit-content;
        height: fit-content;
        opacity: 0;
        color: white;
      }
    }
  }
}
