@import 'abstracts';

:host {
  ::-webkit-scrollbar {
    display: none;
  }
  @include flex(column, center, center);
  max-height: 100%;
}

.overflow-content-container,
.overflow-indicator {
  position: absolute;
  top: 4%;
  bottom: 4%;
  right: 0;
  left: 0;
}

.overflow-content-container {
  overflow: auto;
  display: flex;
}

.overflow-content {
  width: 100%;
  height: fit-content;
  padding: 50px 0;
  position: relative;
}

.overflow-indicator {
  pointer-events: none;
  background: linear-gradient(to bottom,
      white 0,
      rgba(255, 255, 255, 0.7) 25px,
      rgba(255, 255, 255, 0) 50px, rgba(255, 255, 255, 0) calc(100% - 50px),
      rgba(255, 255, 255, 0.7) calc(100% - 25px),
      white 100%);
}

.arrow-top,
.arrow-bottom {
  height: 30px;
  opacity: 0.3;
  cursor: pointer;

  polygon {
    animation: canScrollUpDown 3s infinite;
  }
}

.arrow-top {
  transform: rotate(180deg);
}

.overflow-top, .overflow-bottom {
  height: 30px;
  width: 100%;
  position: absolute;
  @include flex(row, center, center);

  .arrow-top,
  .arrow-bottom {

    &.active {
      opacity: 1;

      polygon {
        animation: none;
      }
    }

  }
}

.overflow {
  &-top {
    top: 0;
  }

  &-bottom {
    bottom: 0;
  }
}

@keyframes canScrollUpDown {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
