@import 'mixins';

$height: 3em;
$primary: var(--primary);
$secondary: var(--background);
$text: var(--color);

$borderRadius: 50px;

.button {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  height: $height;
  min-width: calc(#{$height} * 3);
  background: $secondary;

  border-radius: $borderRadius;
  border: 2px solid $primary;
  padding: 2px;

  @include flex(row, flex-start);
  transition: background 0.1s ease-in-out;

  &.valid:not(.errored) {
    cursor: pointer;
  }

  &:hover:not(.valid) {
    $primary: var(--warn);
    border: 2px solid $primary;

    .loader {
      background: $primary;
    }

    .text-cont {
      color: $primary;
    }
  }

  .loader {
    position: relative;
    flex: 0 0 calc(#{$height} - 8px);
    background: $primary;
    color: $secondary;
    height: calc(#{$height} - 8px);
    font-size: inherit;
    border-radius: $borderRadius;
    @include flex();

    mat-icon {
      @include mat-icon(1.2em, false);
      margin-right: 0.2em;
    }

    .highlight {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: transparent;
      border: 5px solid transparent;

      &.active {
        animation: highlight 0.5s forwards;
      }
    }
  }

  // spin 270 deg
  $highlightColor: rgb(172, 158, 255);
  @keyframes highlight {
    0% {
      background: $highlightColor;
      border: 5px solid $highlightColor;
    }
    60% {
      transform: scale(1.6);
      background: transparent;
      border: 1px solid rgba($color: $highlightColor, $alpha: 0.7);
    }
    100% {
      transform: scale(2);
      background: transparent;
      border: 0px solid transparent;
    }
  }

  .text-cont {
    flex: 0 1 65%;
    font-weight: bold;
    @include flex();
    color: $primary;
  }
}
