@import 'mixins.scss';

:host {
  display: flex;
  height: 100%;
  width: 100%;

  app-sidenav {
    height: 100%;
    width: 64px;
    z-index: 10;
  }

  @include break('lt', 'm') {
    flex-direction: column;

    app-sidenav {
      width: 100%;
      min-height: 0;
      height: 64px;
    }
  }
}
